body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  
}

img {
  display: block;
  height: auto;
}

/* tüm linkler için transition */
a {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* tüm kapsayıcılar için hizalama */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header bölümü  */
.header-list {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-list .container {
  display: flex;
  align-items: center;
  height: 72px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  line-height: 1.17;
  text-transform: uppercase;
  margin-right: 76px;
}

.logosp {
  color: #2e2f42;
}

.header-all {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.menulist {
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  position: relative;
}

.menulist:hover,
.menulist:focus {
  color: #404bbf;
}

.menulist::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: transparent;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* aktif sayfa stil */
.menulist-s {
  color: #404bbf;
}

.menulist-s::after {
  background-color: #404bbf;
}

/* adres-iletişim */
.address {
  display: flex;
  font-style: normal;
  margin-left: auto;
 
}

.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.contactlist {
  color: #434455;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contactlist:hover,
.contactlist:focus {
  color: #404bbf;
}

/* hero bölümü */
.hero-image {
  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-image .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  color: #ffffff;
  max-width: 496px;
}

.hero-button {
  font-weight: 500;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-top: 48px;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* features bölümü */
.feature {
  padding: 120px 0;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-one {
  flex-basis: calc((100% - 72px) / 4);
}

.feature-one-icon {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.feature-title {
  margin-bottom: 8px;
}

/* our team bölümü */
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-pic {
  flex-basis: calc((100% - 72px) / 4);
  text-align: center;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-container {
  padding: 32px 0;
}

.team-pic-title {
  margin-bottom: 8px;
}

.team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.scm-li {
  width: 40px;
  height: 40px;
}

.scm-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scm-link svg {
  fill: #f4f4fd;
}

/* ikonların hover efekti */
.scm-link:hover,
.scm-link:focus {
  background-color: #404bbf;
}

.scm-link:hover svg,
.scm-link:focus svg {
  fill: #f4f4fd;
}

/* our portfolio bölümü */
.our-port {
  padding: 120px 0;
}

.port-title {
  margin-bottom: 72px;
}

.port-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.port-pic {
  width: calc((100% - 48px) / 3);
  background-color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-pic:hover {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.port-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 90, 229, 0.9);
  transform: translateY(100%);
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.port-img-wrapper:hover .overlay {
  transform: translateY(0);
}

.overlay-text {
  color: #ffffff;
}

.port-ul-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.port-pic-title {
  margin-bottom: 8px;
  line-height: 1.5;
}

/* footer bölümü */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  gap: 120px;
  align-items: baseline;
  
}

/* alt alta logo ve metin */
.footer-logo-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-sp {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-icons {
  display: flex;
  gap: 16px;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.footerso-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footerso-link svg {
  fill: #f4f4fd;
}

/* footer hover efekti */
.footerso-link:hover,
.footerso-link:focus {
  background-color: #31d0aa;
}